/* Estilos reutilizables */

h1 {
    font-family: "Noto Serif", Georgia, serif;
    font-weight: 700;
    line-height: 1.38;
}

.carousel-inner {
    padding-left: 25vw;
    width: 70%;
    padding-bottom: 3rem
}


/* Footer */

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 2rem;
}

.footer-img {
    max-width: 15rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-size {
    max-width: 25rem;
    max-height: 20rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.map-size:hover {
    transform: scale(1.1);
}


/* Media queries */

@media screen and (max-width: 1024px) {
    .header-container {
        min-height: 60vh;
    }
    .footer-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        min-height: 20vh;
    }
}