/* Estilos reutilizables */

.mi-container {
    padding-left: 17.5vw;
    padding-right: 17.5vw;
}

h1 {
    font-family: "Noto Serif", Georgia, serif;
    font-weight: 700;
    line-height: 1.38;
}

h2 {
    font-family: "Noto Serif", Georgia, serif;
    font-weight: 700;
    line-height: 1.38;
}

.center-elements-in-cloumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anchor {
    text-decoration: none;
}


/* header */

.header-container {
    background-image: url(../img/portada.jpeg);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-paradisi {
    animation: opacidad 3s 3;
}

@keyframes opacidad {
    0% {
        opacity: 25%
    }
    25% {
        opacity: 100%
    }
    100% {
        opacity: 25%
    }
}

.nav-opacity {
    opacity: 0.7;
}


/* main */

.parrafo-principal p {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/* inside main: description*/

.main-hr {
    width: 25vw;
}


/* inside main: card section */

.img-card-size {
    max-width: 15rem;
}

.li-card-section {
    margin: 0.25rem;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.li-card-section:hover {
    transform: scale(1.1);
}

.ul-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


/* inside main: iframe*/

.publicidad-container {
    display: flex;
    justify-content: space-evenly;
}

.iframe-publi {
    max-width: 500px;
    height: 100%;
    margin-right: 1rem;
}

.marcela-img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(248, 245, 245, 0.2);
    transition: all 0.5s;
}

.marcela-img:hover {
    transform: scale(1.02);
}

.marcela-img img {
    width: 100%;
}


/* Recipes */

.recipe-title {
    text-align: center;
}

.steps-container {
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2rem;
}

.testBox {
    width: 250px;
    height: 250px;
    background-color: brown;
}


/* Footer */

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 2rem;
}

.footer-img {
    max-width: 15rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-size {
    max-width: 25rem;
    max-height: 20rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.map-size:hover {
    transform: scale(1.1);
}


/* Media queries */

@media screen and (max-width: 1024px) {
    .header-container {
        min-height: 60vh;
    }
    .img-card-size {
        max-width: 22rem;
    }
    .footer-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        min-height: 20vh;
    }
}